/*.floor{
    
}

.wall{
    
}*/

html, body{
    height: 100%;
    width: 100%;
    background-color: #EBEBEB;
}

#content{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#logo{
    position: absolute;
    width: 35%;
    height: 15%;
    top: 5%;
    left: 32.5%;
    background-image: url("logo-big.png");
    background-size: contain;
    background-repeat:no-repeat;
}

#floor{
    height: 30%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top, #CDCDCD 0%, #F5F5F5 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #CDCDCD 0%, #F5F5F5 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, #CDCDCD 0%, #F5F5F5 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #CDCDCD), color-stop(1, #F5F5F5));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #CDCDCD 0%, #F5F5F5 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom, #CDCDCD 0%, #F5F5F5 100%);
}

#bathrooms, #room_0, #room_1, #room_2, .door, .indicator-light, #message{
    position: absolute;
}

.close{
    background-image: url("door-close.jpg");
    background-size: contain;
    background-repeat:no-repeat;
}

.open{
    background-image: url("door-open.jpg");
    background-size: contain;
    background-repeat:no-repeat;
}

.red{
    background-image: url("indicator-light-red.jpg");
    background-size: contain;
    background-repeat:no-repeat;
}

.green{
    background-image: url("indicator-light-green.jpg");
    background-size: contain;
    background-repeat:no-repeat;
}

.woohoo{
    background-image: url("woohoo.png");
    background-size: contain;
    background-repeat:no-repeat;
}

.oops{
    background-image: url("oops.png");
    background-size: contain;
    background-repeat:no-repeat;
}

